<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>breachedliao.online</title>

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Web App Splash Icons -->
  <link rel="apple-touch-icon" sizes="512x512" href="/splash_512x512.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="/splash_1024x1024.png">

  <!-- Theme Color for Mobile -->
  <meta name="theme-color" content="#c62828">

  <link rel="stylesheet" href="/css/styles.css"/>
</head>
